# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/

# OS files
.DS_Store
Thumbs.db

# Flask
instance/

# Uploads
static/uploads/*
static/frames/*

# Logs
*.log

# Dataset
data/
dataset/
frames/

# Jupyter
.ipynb_checkpoints
